@import "ui-variables";

.list-tree, .list-group {
    li:not(.list-nested-item):not(.tabBlender), li.list-nested-item > .list-item {
        line-height: 1.8em;

        &.selected {
            position: relative;

            &::before {
                .selected-item();
            }
        }
        &.status-modified:not(.selected) {
            color: @modified;
        }
        &.status-added:not(.selected) {
            color: @added;
        }
        &.status-renamed:not(.selected) {
            color: @renamed;
        }
        &.status-removed:not(.selected) {
            color: @removed;
        }
        .name {
            position: relative;
            z-index: 10;
        }
    }
    li.list-nested-item {
        &.status-modified:not(.selected) > .list-item {
            color: @modified;
        }
        &.status-added:not(.selected) > .list-item {
            color: @added;
        }
        &.status-renamed:not(.selected) > .list-item {
            color: @renamed;
        }
        &.status-removed:not(.selected) > .list-item {
            color: @removed;
        }
    }
    .selected::before {
        background: none;
    }
}
.select-list, .popover-list {
    atom-text-editor[mini], atom-text-editor[mini]::shadow {
        height: auto;
    }
    .styleguide & {
        atom-text-editor[mini], atom-text-editor[mini]::shadow {
            height: auto;
        }
    }
    .list-group {
        li {
            padding: 0 0.75rem;
        }
    }
}
