@import "ui-variables";

-webkit-keyframes ripple {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(200);
        opacity: 0;
    }
}

.tab-bar {
    position: relative;
    line-height: @tab-height;
    height: @tab-height;
    background: @tab-bar-background-color;
    border-bottom: .15rem solid @tab-bar-bottom-border-color;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased;
    z-index: 10;

    &::-webkit-scrollbar {
        display: none;
    }

    .tab {
        position: relative;
        top: 0;
        text-align: center;
        font-size: inherit;
        min-width: @tab-min-width;
        max-width: @tab-max-width;
        cursor: pointer;
        font-weight: 600;
        padding: 0 0 .75rem;
        transition: min-width 250ms @timing-function;
        font-size: .9rem;
        overflow: hidden;

        &.active {
            flex: 1;
            .ink {
                display: inline-block;
                -webkit-animation: ripple 500ms @timing-function;
                -webkit-animation-fill-mode: forwards;
            }
        }

        &.is-dragging {
            opacity: 1;
            border: none;
            margin: 0;
            .close-icon {
            visibility: hidden;
            }
            .ink {
                display: none;
            }
        }

        &.is-drop-target {
            &::after {
                display: none;
            }
        }

        .title {
            font-weight: 600;
            position: relative;
            pointer-events: none;
            text-align: left;
            margin: 0 .35rem 0 .75rem;
            transition: padding 250ms @timing-function;
            letter-spacing: 0.01rem;
            -webkit-mask-image: linear-gradient(to right, rgba(255,255,255,1) 70%,rgba(255,255,255,0) 90%);

            &.icon::before {
                margin-right: 1rem;
            }
        }

        &:hover .title {
            -webkit-mask-position: -@ui-size 0;
        }
        &.modified,
        &.modified:hover,
        &.modified:not(:hover) {
            color: @modified;
        }

        .close-icon {
            right: 0;
            height: auto;
            z-index: 2;
            text-align: center;
            line-height: normal;
            cursor: pointer;
            visibility: hidden;
        }

        &:hover .close-icon {
            visibility: visible;
            color: @hover;
            &:before {
              font-size: 1rem;
              line-height: 1rem;
              width: 1rem;
              height: 1rem;
            }
        }

        &.active {
            color: @text-color;
        }

        &.modified,
        &.modified:hover,
        &.modified:not(:hover) {
            color: @modified;
        }
    }

    .ink {
        display: none;
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        width: 2px;
        height: 2px;
        -webkit-transform: translate3d(0,0,0);
        background-color: fade(@text-color, 10%);
    }

    .tab.active {
        z-index: 0;
        color: @text-color;
        width: inherit;
        background: @primary-hue;
        .border-radius (.4rem, .4rem, .0rem, .0rem);

        &:hover{
            color: @text-color;
        }
        .close-icon {
            visibility: visible;
            color: @text-color;

            &:before {
              font-size: .9rem;
              line-height: 1rem;
              width: 1rem;
              height: 1rem;
            }
        }
    }

    .tab:hover {
        color: @primary-hue;
    }

    .placeholder {
        margin: 0;
        height: 3rem;
        background: none;
        pointer-events: none;
        width: 0.125rem;
        border: 1px solid;
        border-color: fade(@base-color, 50%);
        z-index: 100000;

        &::after {
            top: auto;
            bottom: -0.125rem;
            background: none;
            margin-left: -0.5rem;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0.5rem 0.5rem 0.5rem;
            border-color: transparent transparent @base-color transparent;
        }
    }
}

.compact-tab-bar & {
    height: 2.5rem;
    line-height: 2.5rem;
    &::before, &::after {
        height: 2.5rem;
    }

    .tab {
        .close-icon {
            top: 0.75rem;
        }

        &.modified:not(:hover) .close-icon {
            top: 1rem;
        }
    }

    .title[class*="status-"]::after {
        top: 1.05rem;
    }
}
