@import "ui-variables";

.tab-bar {
    position: relative;
    height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    background: @tab-bar-background-color;
    padding: 0 10px 0 25px;
    overflow-x: auto;
    overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: @tab-bottom-border-height;
    left: 0;
    right: 0;
    background-color: @tab-background-color-active;
    border: .31rem solid @tab-bar-bottom-border-color;
    .border-radius (.5rem, .5rem, .5rem, .5rem);
    pointer-events: none;
  }

  .tab {
    position: relative;
    top: @tab-top-padding;
    font-size: inherit;
    max-width: @tab-max-width;
    height: @tab-height;
    line-height: @tab-height;
    color: @text-color;
    padding: 0 0 0 5px;
    margin: 0 5px;
    transition: min-width 250ms @timing-function;
    .close-icon {
      cursor: pointer;
      visibility: hidden;
      right: 0;
    }

    &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 0.125rem;
        width: 100%;
        transform: scaleX(0) translateX(50%);
        transition: transform 250ms @timing-function, opacity 250ms @timing-function;
        opacity: 0;
        background-color: @text-color;
        z-index: 2000;
    }

    .active .close-icon {
        visibility: visible;
        z-index: 3;
        line-height: @tab-height;
        color: @text-color;
    }

    &:hover .close-icon {
      visibility: visible;
      z-index: 3;
      line-height: @tab-height;
      color: @primary-hue;

      &:hover {
        color: inherit;
      }
    }

    &.modified:not(:hover) .close-icon {
      visibility: visible;
      top: @tab-height/2 - @modified-icon-width/2 + 1px;
      right: 4px;
      width: @modified-icon-width;
      height: @modified-icon-width;
    }

    &.modified:hover .close-icon:hover {
      color: @primary-hue;
    }
}

.tab.active {
  z-index: 0;
  color: @text-color;
  width: inherit;

  &:hover{
      color: @text-color;
    }
    .close-icon {
    visibility: visible;
    line-height: @tab-height - 1px;
    color: @text-color;
    }

  &,
  &:before,
  &:after {
    background: @primary-hue;
    height: @tab-height + 1px;
    border: 0 0 1px black inset;
    .border-radius (.6rem, .6rem, .0rem, .0rem);
    }
}

.tab:hover {
  color: @primary-hue;
}

.tab.active:hover .close-icon {
  color: @text-color;

    &:hover {
    color: @text-color;
    }
}

.placeholder {
  height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
  margin-left: -9px; // center between tabs
  pointer-events: none;

    &:after {
        top: @tab-height + @tab-top-padding + @tab-bottom-border-height - 2px;
        }
    }
}
