@import "ui-variables";

.tree-view {
    font-size: 0.8rem;
    overflow: hidden;
    direction: ltr;
    background: @tree-view-background-color;

    .project-root {
         > .header {
             > .icon-repo {
                 &:before {
                     display: none;
                    }
            font-size: 1.25rem;
            font-weight: 700;
            color: @primary-hue;
            line-height: 3rem;
            height: 2.5rem;
            width: 100%;
            padding: 0 0.5rem;
            z-index: 1000;
            span, &::before {
                line-height: 3rem;
                }
            }
        }
        .name.icon {
            &::before {
                margin-right: 0 0.5rem;
                margin-left: 0 0rem;
            }
        }

        .selected {
            font-weight: 600;
        }

        .selected:before {
            background: @background-color-selected;
            .border-radius (.5rem, .5rem, .5rem, .5rem);

        }
    }
    &.has-collapsable-children .list-nested-item {
        font-weight: 600;
    }
}

.list-item {
    z-index: 0;
    color: @text-color;
    width: inherit;
    &:hover{
        color: @primary-hue;
    }
    &,
    &:before,
    &:after {
        font-weight: 600;
        background: @app-background-color;
    }
}

.tree-view-scroller {
    direction: rtl;
    background: @tree-view-background-color;
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width: 8px;
    }
}
