@import "ui-variables";

.tree-view {
    font-size: 0.8rem;
    overflow: hidden;
    direction: ltr;
    background: @tree-view-background-color;

    .project-root {
         > .header {
             > .icon-repo {
                 &:before {
                     display: none;
                    }
            font-size: 1.25rem;
            font-weight: 700;
            color: @primary-hue;
            line-height: 3rem;
            height: 2.5rem;
            width: 100%;
            padding: 0 0.5rem;
            z-index: 1000;
            span, &::before {
                line-height: 3rem;
                }
            }
        }

    }

    .list-item {
        font-weight: 600;
        z-index: 0;
        color: @text-color;
        width: inherit;
        &:hover{
            color: @primary-hue;
        }
        .selected {
            &:hover{
                color: @text-color;
            }
        }
    }
    .list-item

}



.tree-view-scroller {
    direction: rtl;
    background: @tree-view-background-color;
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width: 8px;
    }
}
