@import "ui-variables";

.tree-view {
    font-size: 0.8rem;
    overflow: hidden;
    direction: ltr;
    background: transparent;

    .project-root {
     > .header {
         > .icon-repo {
             &:before {
                }
             font-size: 1.25rem;
             font-weight: 700;
             color: @primary-hue;
             line-height: 3rem;
             height: 2rem;
             padding: 0 0.5rem;
             z-index: 1000;
            }
        }
    }

    .list-item {
        color: @text-color;
        font-weight: 600;
        width: inherit;
        z-index: 0;
        &:hover{
            color: @primary-hue;
        }
        &.selected {
            padding: 0rem, 0rem, 0rem, .10rem;
            &:hover{
                color: inherit;
            }
        }
    }
}

.tree-view-scroller {
    direction: rtl;
    background: transparent;
}

.tree-view-resizer {
    .tree-view-resize-handle {
        width: 8px;
    }
}
