// Key Colors
@hue-1: #cb4949;
@hue-2: #e1a9a9;
@hue-3: #a7abcb;
@hue-4: #946ac6;
@hue-5: #b5b7cc;
@hue-6: #83b7da;
@hue-7: #278ed1;
@hue-8: #2bc9e2;
@hue-9: #22e0c5;
@hue-10: #27d16b;
@hue-11: #6fd697;
@hue-12: #7fbe5d;
@hue-13: #f3ea9c;
@hue-14: #ffab32;
@hue-15: #ffd598;
@hue-16: #ff9049;
@hue-17: #d18c27;

@background-hue-1: #e8e8e8;
@background-hue-2: #929292;
@background-hue-3: #535353;
@background-hue-4: #464646;
@background-hue-5: #363737;

@primary-hue: #337bab;
@accent-hue: #ffffff;

// General colors
@syntax-text-color: @background-hue-1;
@syntax-cursor-color: @accent-hue;
@syntax-selection-color: lighten(@background-hue-4, 10%);
@syntax-background-color: @background-hue-5;

// Guide colors
@syntax-wrap-guide-color: @background-hue-4;
@syntax-indent-guide-color: @background-hue-3;
@syntax-invisible-character-color: @background-hue-3;

// For find and replace markers
@syntax-result-marker-color: @background-hue-2;
@syntax-result-marker-color-selected: @accent-hue;

// Gutter colors
@syntax-gutter-text-color: @background-hue-1;
@syntax-gutter-text-color-selected: @background-hue-1;
@syntax-gutter-background-color: @background-hue-4;
@syntax-gutter-background-color-selected: @background-hue-3;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @renamed;
@syntax-color-added: @added;
@syntax-color-modified: @modified;
@syntax-color-removed: @removed;

//Variables
@ignored: fade(@background-hue-1, 50%);
@added: @hue-10;
@renamed: @hue-16;
@modified: @hue-4;
@removed: @hue-1;

// Colors
@app-background-color: @syntax-background-color;
@accent-color: @syntax-text-color;
@accent-text-color: darken(@accent-color, 25%);

@text-color: @syntax-text-color;
@text-color-dark: darken(@text-color, 10%);
@text-color-subtle: fade(@text-color, 50%);
@text-color-highlight: fade(@text-color, 60%);
@text-color-selected: @text-color-highlight;

@text-color-info: @renamed;
@text-color-success: @added;
@text-color-warning: @modified;
@text-color-error: @removed;

@text-color-ignored: @ignored;
@text-color-added: @added;
@text-color-renamed: @renamed;
@text-color-modified: @modified;
@text-color-removed: @removed;

@background-color-info: lighten(@text-color-info, 25%);
@background-color-success: lighten(@text-color-success, 25%);
@background-color-warning: lighten(@text-color-warning, 25%);
@background-color-error: lighten(@text-color-error, 25%);
@background-color-highlight: fade(@base-color, 10%);

@base-background-color: transparent;
@base-border-color: fade(black, 1%);

@pane-item-background-color: @app-background-color;
@pane-item-border-color: fade(black, 1%);

@input-background-color: @accent-hue;
@input-border-color: @base-border-color;

@tool-panel-background-color: @app-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: @app-background-color;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: @syntax-gutter-background-color;
@panel-heading-border-color: fadein(@base-border-color, 10%);

@overlay-background-color: @app-background-color;
@overlay-border-color: @background-color-highlight;

@button-background-color: @app-background-color;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: @app-background-color;
@button-border-color: @base-border-color;

@tab-bar-background-color: transparent;
@tab-bar-border-color: transparent;
@tab-background-color: @app-background-color;
@tab-background-color-active: @app-background-color;
@tab-border-color: transparent;

@tree-view-background-color: @app-background-color;
@tree-view-border-color: @tool-panel-border-color;

@scrollbar-background-color: @app-background-color;
@scrollbar-color: fade(@text-color, 20%);

@ui-site-color-1: @background-color-success;
@ui-site-color-2: @background-color-info;
@ui-site-color-3: @background-color-warning;
@ui-site-color-4: lighten(@hue-13, 10%);
@ui-site-color-5: lighten(@hue-8, 10%);

// Sizes
@font-size: 11px;
@input-font-size: 14px;
@disclosure-arrow-size: 12px;
@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;
@tab-height: 26px;

// Other
@font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

// Accent Colors
@background-color-selected: @base-color;
@timing-function: cubic-bezier(.4, 0, .2, 1);

// These are default values
@accent-color: @accent-hue;
@accent-text-color: lighten(@base-color, 60%);
@base-color: @primary-hue;
