// Colors
@app-background-color: @syntax-background;
@accent-color: @syntax-cursor;
@accent-text-color: darken(@accent-color, 25%);

@text-color: fade(@syntax-text, 80%);
@text-color-dark: darken(@text-color, 10%);
@text-color-subtle: fade(@text-color, 50%);
@text-color-highlight: fade(@text-color, 60%);
@text-color-selected: @text-color-highlight;

@text-color-info: @renamed;
@text-color-success: @added;
@text-color-warning: @modified;
@text-color-error: @removed;

@text-color-ignored: @ignored;
@text-color-added: @added;
@text-color-renamed: @renamed;
@text-color-modified: @modified;
@text-color-removed: @removed;

@background-color-info: lighten(@text-color-info, 25%);
@background-color-success: lighten(@text-color-success, 25%);
@background-color-warning: lighten(@text-color-warning, 25%);
@background-color-error: lighten(@text-color-error, 25%);
@background-color-highlight: fade(@base-color, 10%);

@base-background-color: transparent;
@base-border-color: fade(black, 1%);

@pane-item-background-color: @app-background-color;
@pane-item-border-color: fade(black, 1%);

@input-background-color: #FFF;
@input-border-color: @base-border-color;

@tool-panel-background-color: @app-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: #161719;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: #43484d;
@panel-heading-border-color: fadein(@base-border-color, 10%);

@overlay-background-color: #202123;
@overlay-border-color: @background-color-highlight;

@button-background-color: #43484d;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: #5c6064;
@button-border-color: @base-border-color;

@tab-bar-background-color: transparent;
@tab-bar-border-color: transparent;
@tab-background-color: @app-background-color;
@tab-background-color-active: @app-background-color;
@tab-border-color: transparent;

@tree-view-background-color: @app-background-color;
@tree-view-border-color: @tool-panel-border-color;

@scrollbar-background-color: @app-background-color;
@scrollbar-color: fade(@text-color, 20%);

@ui-site-color-1: @background-color-success;
@ui-site-color-2: @background-color-info;
@ui-site-color-3: @background-color-warning;
@ui-site-color-4: lighten(@blue, 10%);
@ui-site-color-5: lighten(@yellow, 10%);

//Variables
@ignored: fade(@syntax-text, 50%);
@added: @green;
@renamed: @deep-orange;
@modified: @deep-purple;
@removed: @red;

// Sizes
@font-size: 11px;
@input-font-size: 14px;
@disclosure-arrow-size: 12px;
@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;
@tab-height: 26px;

// Other
@font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

// Key Colors
@red: #cb4949;
@pink: #e1a9a9;
@purple: #a7abcb;
@deep-purple: #946ac6;
@indigo: #b5b7cc;
@light-blue: #83b7da;
@blue: #278ed1;
@cyan: #2bc9e2;
@teal: #22e0c5;
@green: #27d16b;
@light-green: #6fd697;
@lime: #7fbe5d;
@yellow: #f3ea9c;
@amber: #ffab32;
@orange: #ffd598;
@deep-orange: #ff9049;
@brown: #d18c27;

@very-light-grey: #e8e8e8;
@light-grey: #929292;
@grey: #535353;
@dark-grey: #464646;
@very-dark-grey: #363737;

// Syntax-variables-less-sheet
@syntax-text: @very-light-grey;
@syntax-cursor: white;
@syntax-selection: lighten(@dark-grey, 10%);
@syntax-background: @very-dark-grey;

@guide-wrap: @dark-grey;
@guide-indent: @grey;
@guide-invisible: @grey;

@result-marker: @light-grey;
@result-marker-selected: white;

@gutter-text: @very-light-grey;
@gutter-text-selected: @very-light-grey;
@gutter-background: @dark-grey;
@gutter-background-selected: @grey;

@gutter-renamed: @renamed;
@gutter-added: @added;
@gutter-modified: @modified;
@gutter-removed: @removed;

// Accent Colors
@background-color-selected: @base-color;
@timing-function: cubic-bezier(.4, 0, .2, 1);

// These are default values
@accent-color: #ffffff;
@accent-text-color: lighten(@base-color, 60%);
@base-color: #337bab;
